.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 8rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: start;
  list-style: none;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-feature-settings: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-0.3rem);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  text-align: center;
  width: 70%;
  margin: 06rem auto 0;
}
