.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem;
    z-index: 10;

    stroke: $color-grey-dark-2;
    stroke-width: 1px;
    stroke-linejoin: round;

    cursor: pointer;
  }

  &__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 10;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    padding: 1rem;
    transform: translateY(50%);
  }

  &__location,
  &__rooms {
    margin-top: 2rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
    }

    p {
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
